doctype html
html
 head
   title #{title}
   link(rel='stylesheet', href='/css/style.css')
   meta(name="viewport" content="width=device-width, initial-scale=1")
 body.demo
   header
         h1 #{title}
   br
   article
     ul
       li
         a(href=`/`) INDEX
       each a in animali
         li 
           a(href=`/album?id_figurina=${a.id_figurina}`) Animale #{a.id_figurina}