.demo {
background: #CE5937;
background: -moz-linear-gradient(left, #CE5937 0%, #1C6EA4 60%, #C59237 100%);
background: -webkit-linear-gradient(left, #CE5937 0%, #1C6EA4 60%, #C59237 100%);
background: linear-gradient(to right, #CE5937 0%, #1C6EA4 60%, #C59237 100%);
}



ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: red;
}

li {
  float: left;
}

li, a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li:hover, a:hover, .dropdown:hover .dropbtn:hover {
  background-color: #333;
  color: white;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {   /* CONTENUTO DEL DROP DOWN .   */
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: red;}

.dropdown:hover .dropdown-content {
  display: block;
}